*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.rufet{
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 85vh;
}


h1{
    text-align: center;
    font-weight: 900;
  
}

button{
    padding: 16px;
    width: 190px;
}





.rufet-right{
    background-color: #51B5C3;
    color: white;
}


