@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  background-color: #f3f7f6;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: #51b5c3;
  border-radius: 0px 0px 24px 24px;
  padding: 26px 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 724px) {
  header {
    padding: 26px 30px;
  }
}

.header__page-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: white;
}
@media (max-width: 724px) {
  .header__page-title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .header__page-title {
    font-size: 26px;
  }
}

@media (max-width: 824px) {
  .header__user-details {
    display: none;
  }
}

.header__user {
  display: flex;
  gap: 25px;
  align-items: center;
  position: relative;
}
.header__user p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin: 2px 0;
}
.header__user button {
  background-color: transparent;
  border: 0;
}
.header__user .dropdown {
  width: 200px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  right: 0;
  top: 60px;
  display: none;
}
.header__user .dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header__user .dropdown ul li {
  flex: 1;
  display: flex;
  align-items: center;
}
.header__user .dropdown a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #161515;
  padding-left: 20px;
}
.header__user .dropdown a:hover {
  text-decoration: underline;
}
.header__user .dropdown.active {
  display: block;
}

main {
  display: grid;
  place-items: center;
  padding: 65px 45px;
  width: 100%;
}
@media (max-width: 824px) {
  main {
    padding: 30px 20px;
  }
}

#frame-5 .container {
  height: 750px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: white;
  width: 90%;
  padding: 30px 100px;
}
@media (max-width: 824px) {
  #frame-5 .container {
    padding: 20px 40px;
    height: 790px;
  }
  #frame-5 .container .row3 button {
    width: 200px !important;
  }
}
@media (max-width: 610px) {
  #frame-5 .container .row1 {
    text-align: center;
  }
  #frame-5 .container .row2 {
    font-size: 20px;
  }
  #frame-5 .container .row3 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
#frame-5 .container .row1 {
  align-self: center;
  margin-bottom: 40px;
}
#frame-5 .container .row1 h3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}
#frame-5 .container .row2 {
  margin-bottom: 80px;
}
#frame-5 .container .row2 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#frame-5 .container .row2 li {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
#frame-5 .container .row2 li select,
#frame-5 .container .row2 li input {
  width: 400px;
  height: 60px;
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}
#frame-5 .container .row2 li select::-moz-placeholder, #frame-5 .container .row2 li input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#frame-5 .container .row2 li select::placeholder,
#frame-5 .container .row2 li input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#frame-5 .container .row2 li option {
  background-color: #fff;
  color: #000;
  border-radius: 0;
}
#frame-5 .container .row2 li option:disabled {
  color: rgba(0, 0, 0, 0.3);
}
#frame-5 .container .row3 {
  justify-content: space-evenly;
  display: flex;
}
#frame-5 .container .row3 button {
  width: 280px;
  height: 80px;
  border-radius: 40px;
  border: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: white;
}
#frame-5 .container .row3 button:nth-child(1) {
  background-color: #e02b2b;
}
#frame-5 .container .row3 button:nth-child(2) {
  background-color: #51b5c3;
}

#frame-8 .container {
  height: 750px;
  border-radius: 30px;
  background-color: white;
  padding: 30px 100px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 900px) {
  #frame-8 .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 25px 50px;
    height: 900px;
  }
  #frame-8 .container .col-left,
  #frame-8 .container .col-right,
  #frame-8 .container .col-bottom {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
  #frame-8 .container .col-bottom button {
    width: 200px !important;
    font-size: 20px !important;
  }
}
@media (max-width: 600px) {
  #frame-8 .container {
    padding: 25px;
    height: 960px;
  }
  #frame-8 .container label {
    font-size: 16px !important;
  }
  #frame-8 .container input {
    font-size: 17px !important;
  }
}
#frame-8 .container .col-bottom {
  grid-column: span 2;
  justify-content: space-evenly;
  display: flex;
  grid-row: span 1;
}
@media (max-width: 600px) {
  #frame-8 .container .col-bottom {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  #frame-8 .container .col-bottom .col-left input {
    height: 60px !important;
  }
}
#frame-8 .container .col-bottom button {
  width: 280px;
  height: 80px;
  border-radius: 40px;
  border: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: white;
}
#frame-8 .container .col-bottom button:nth-child(1) {
  background-color: #e02b2b;
}
#frame-8 .container .col-bottom button:nth-child(2) {
  background-color: #51b5c3;
}
#frame-8 .container .col-right {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  grid-column: span 1;
  grid-row: span 2;
}
#frame-8 .container .col-right label {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  width: 65%;
}
#frame-8 .container .col-right button {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  background: #ededed;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
#frame-8 .container .col-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-column: span 1;
  grid-row: span 2;
  width: 100%;
}
#frame-8 .container .col-left > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#frame-8 .container .col-left label {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
#frame-8 .container textarea {
  width: 100%;
  height: 270px;
  resize: none;
  border-radius: 15px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px 15px;
  font-family: inherit;
}
#frame-8 .container label {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
#frame-8 .container input {
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.agile-table {
  width: 100%;
}
.agile-table thead {
  height: 118px;
  width: 100%;
  background-color: #000;
  border-radius: 15px;
  display: grid;
  margin-bottom: 34px;
}
@media (max-width: 1250px) {
  .agile-table thead th,
  .agile-table thead th > button {
    font-size: 24px !important;
  }
}
@media (max-width: 1000px) {
  .agile-table thead th,
  .agile-table thead th > button {
    font-size: 22px !important;
  }
  .agile-table thead th > img {
    display: none;
  }
}
@media (max-width: 782px) {
  .agile-table thead th,
  .agile-table thead th > button {
    font-size: 20px !important;
  }
}
@media (max-width: 550px) {
  .agile-table thead {
    height: 70px !important;
  }
  .agile-table thead th,
  .agile-table thead th > button {
    font-size: 15px !important;
  }
  .agile-table thead th > button {
    padding: 8px 16px !important;
  }
}
.agile-table thead tr {
  display: flex;
  justify-content: space-between;
}
.agile-table thead tr th {
  flex: 1;
  color: white;
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}
@media (max-width: 1250px) {
  .agile-table tbody td,
  .agile-table tbody td > button {
    font-size: 23px !important;
  }
}
@media (max-width: 1000px) {
  .agile-table tbody td,
  .agile-table tbody td > button {
    font-size: 20px !important;
  }
}
@media (max-width: 782px) {
  .agile-table tbody td,
  .agile-table tbody td > button {
    font-size: 16px !important;
  }
  .agile-table tbody td > button {
    padding: 3px 15px !important;
  }
}
@media (max-width: 550px) {
  .agile-table tbody td,
  .agile-table tbody td > button {
    font-size: 14px !important;
  }
}
.agile-table tbody tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  background-color: white;
  border-radius: 15px;
}
.agile-table tbody tr td {
  flex: 1 1 0;
  width: 0;
  display: grid;
  place-items: center;
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  height: 78px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
.agile-table tbody tr td:last-child {
  border-right: 0;
}

#frame-4 .agile-table thead th:nth-child(5) {
  display: flex;
  justify-content: space-around;
}
#frame-4 .agile-table thead th:nth-child(5) button {
  background: #51b5c3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: grid;
  place-items: center;
  border: 0;
  color: white;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  padding: 12px 24px;
}
#frame-4 .agile-table tbody tr td:nth-child(4) {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
#frame-4 .agile-table tbody tr td:nth-child(4).green {
  color: #1dbc70;
}
#frame-4 .agile-table tbody tr td:nth-child(4).red {
  color: #bc1d1d;
}
#frame-4 .agile-table tbody tr td:nth-child(4).yellow {
  color: #ffe600;
}
#frame-4 .agile-table tbody tr td:nth-child(5) button {
  background: #518cc3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  border: 0;
  padding: 3px 30px;
  display: grid;
  place-items: center;
}

#frame-7 main {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
#frame-7 .ticket-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 824px) {
  #frame-7 .ticket-container {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  #frame-7 .ticket-container p {
    text-align: center;
  }
}
#frame-7 .ticket-container p {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
#frame-7 .ticket-container button {
  background: #61cfde;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: grid;
  place-items: center;
  color: #ffffff;
  border: 0;
  padding: 22px;
}
#frame-7 .agile-table tbody td.yellow {
  color: #ffe600;
}/*# sourceMappingURL=style4578.css.map */