* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.zb-btn {
  background: #e02b2b;
  font-size: 15px;
  font-weight: bold;
  width: 280px;
  height: 70px;
  border: none;
  border-radius: 40px;
  transition: all 0.3s;
  letter-spacing: 3px;
}
.zb-btn:hover {
  transition: all 0.3s;
  background: #c92626;
  letter-spacing: 7px;
}
.zb {
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    width: 100%;
    justify-content: space-between !important;
}
.zb-company-name {
  border-radius: 20px;
  width: 350px;
  min-height: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: max(3vh, 1rem) !important;
}
h5 {
  margin: auto !important;
}
section {
  padding: max(3vh, 1rem);
  min-height: 85vh;
  background-color: #f3f7f6;
}

.reg-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

.reg-grid > p {
    gap: 10px !important;
    justify-content: flex-start !important;
    font-size: 20px;
}

@media (max-width: 724px) {
    .reg-grid {
        grid-template-columns: 1fr;
    }
    .reg-grid p {

    }
}